* {
    box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
}
/* Style the header */
.header {
    background-color: #19937c;
    padding: 2px;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    text-transform: capitalize;
  color: #ffffff;

}


/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #1bb89c;
      position: sticky;
      top: 0;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    text-decoration: none;

}

/* Change color on hover */
.topnav a:hover {
    background-color: #ffffff;
    color: black;
}


/* Style the content */
.content {
    background-color: #ffffff;
    padding: 8px;
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 1px;
	text-align: center;

}

/* Style unsorted list */
/* TODO find and add a style to bullet lists */

/* Style tables */
table {

    border-collapse: collapse;

border:2px solid #790e8b;
    padding: 8px;
}

 /* Style the caption of the table */
caption {
	    padding: 2px;
		font-weight:bold;
    text-align: center;
  text-transform: capitalize;
 }

 /* Style the heading of the table */
 th {
    border-right: 1px solid #ffffff;
	border-left: 1px solid #ffffff;



    padding: 8px;

    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #790e8b;
    color: white;
}

/* Style the cells of the table*/
td {
    border: 1px solid #790e8b;
    padding: 8px;
}

/* Color the odd numberd rows*/
 tr:nth-child(odd){background-color: #FDEDFF;}
